{% load static %}
<style>
    {#    /* CSS Test begin */#}
    {#    .comment-box {#}
    {#        margin-top: 30px !important;#}
    {#    }#}
    {##}
    {#    /* CSS Test end */#}
    {##}
    {#    .comment-box img {#}
    {#        width: 50px;#}
    {#        height: 50px;#}
    {#    }#}
    {##}
    {#    .comment-box .media-left {#}
    {#        padding-right: 10px;#}
    {#        width: 65px;#}
    {#    }#}
    {##}
    {#    .comment-box .media-body p {#}
    {#        border: 1px solid #ddd;#}
    {#        padding: 10px;#}
    {#    }#}
    {##}
    {#    .comment-box .media-body .media p {#}
    {#        margin-bottom: 0;#}
    {#    }#}
    {##}
    {#    .comment-box .media-heading {#}
    {#        background-color: #f5f5f5;#}
    {#        border: 1px solid #ddd;#}
    {#        padding: 7px 10px;#}
    {#        position: relative;#}
    {#        margin-bottom: -1px;#}
    {#    }#}
    {##}
    {#    .comment-box .media-heading:before {#}
    {#        content: "";#}
    {#        width: 12px;#}
    {#        height: 12px;#}
    {#        background-color: #f5f5f5;#}
    {#        border: 1px solid #ddd;#}
    {#        border-width: 1px 0 0 1px;#}
    {#        -webkit-transform: rotate(-45deg);#}
    {#        transform: rotate(-45deg);#}
    {#        position: absolute;#}
    {#        top: 10px;#}
    {#        left: -6px;#}
    {#    }#}
</style>


<link href="{% static "comment_style.css" %}" rel="stylesheet">

<div class="container">
    <div class="comments-section">
        {% for comment in comments %}

            <div class="media comment-box">
                <div class="media-left">
                    <a href="#">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </a>
                </div>
                <div class="comment media-body">
                    <h4 class="media-heading">
                        <div class="info">
                            <div class="d-inline self-name">{{ comment.name }}</div>
                            {{ comment.created }}
                        </div>
                    </h4>
                    <div class="d-inline self-comment">
                        {{ comment.text|linebreaks }}
                    </div>
                </div>
            </div>


        {% empty %}
            <p>There are no comments yet.</p>
        {% endfor %}
    </div>

    <div class="offset-2">
        <div class="mt-5 card">
            <div class="card-header b" style="font-size:14px;">
                Оставить отзыв
            </div>

            <div class="commentForm">
                {% include "comment_form.html" %}
            </div>

        </div>
    </div>
</div>


{##}
{#<div class='container'>#}
{#		 <div class="media comment-box">#}
{#            <div class="media-left">#}
{#                <a href="#">#}
{#                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">#}
{#                </a>#}
{#            </div>#}
{#            <div class="media-body">#}
{#                <h4 class="media-heading">Azar Hank</h4>#}
{#                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>#}
{##}
{#            </div>#}
{#        </div>#}
{#</div>#}