{% if user.is_authenticated %}

    <div class="icontext">

        <div class="text-wrap dropdown">

            <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10"
               aria-expanded="false">
                <div class="icon-wrap icon-xs bg2 round text-secondary"><i class="fa fa-user"></i></div>
                <div class="text-wrap">
                    <small>Здравствуйте, </small>
                    <span><b>{{ user.customer.fl_name|capfirst }}</b> <i class="fa fa-caret-down"></i></span>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right "
                 style="min-width: 200px; position: absolute;">

                 <div class=" pl-2"><a id="logout" href=".">Выход</a></div>
                 <div class=" pl-2"><a href="/account/profile">Мой аккаунт</a></div>
{#                {% include "account/login_form.html" %}#}
            </div> <!--  dropdown-menu .// -->
        </div> <!-- text-wrap.// -->
    </div> <!-- icontext.// -->

    <script>

        if ($(".commentForm")) {
            console.log($("#addComment"));
            $("#addComment input[name=name]").val("{{ user.customer.fl_name }}");
            $("#addComment input[name=phone_email]").val("{{ user.email }}");
        }

    </script>
{% else %}
<script>

$(document).on("click",".log-in",function (event) {
    event.preventDefault();
    console.log("hello");
    send_with_ajax({"login":"bar"},"/account/login",function (response) {
        $(".log-in-form").html(response);
    },"GET");
})


</script>
        <div class="text-wrap dropdown">

            <a href="#" class="ml-3 icontext log-in" data-toggle="dropdown" data-offset="20,10"
               aria-expanded="false">
                <div class="icon-wrap icon-xs bg2 round text-secondary"><i class="fa fa-user"></i></div>
                <div class="text-wrap">
                    <small>Здравствуйте,</small>
                    <span>Войти <i class="fa fa-caret-down"></i></span>
                </div>
            </a>

            <div class="dropdown-menu dropdown-menu-right log-in-form"
                style="min-width: 300px; position: absolute;" >

{#                {% include "account/login_form.html" %}#}
            </div> <!--  dropdown-menu .// -->
        </div> <!-- text-wrap.// -->
{% endif %}