{% extends "main.html" %}

{% block content %}
    <section class="section-content bg padding-y">
        <div class="container">
            <div class="row">
                <aside class="col-sm-3">

                    <div class="row">
                        <div class="card col-sm-5 col-md-8  d-flex p-1">
                            <article class="card-group-item">
                                <header class="card-header"><h6 class="title">Мой кабинет </h6></header>
                                <div class="filter-content">
                                    <div class="list-group list-group-flush">
                                        <a href="" data-toggle="modal" data-target="#exampleModalLong" class="list-group-item">Корзина <span
                                                class="float-right badge badge-secondary round">0</span> </a>
                                        <a href="#" class="list-group-item">Мои заказы <span
                                                class="float-right badge badge-secondary round">0</span> </a>
                                        <a href="#" class="list-group-item">Мои отзывы <span
                                                class="float-right badge badge-secondary round">0</span> </a>
                                        <a href="#" class="list-group-item">Личные сообщения <span
                                                class="float-right badge badge-secondary round">12</span> </a>
                                    </div>  <!-- list-group .// -->
                                </div>
                            </article> <!-- card-group-item.// -->
                            <article class="card-group-item">
                                <header class="card-header"><h6 class="title">Еще </h6></header>
                                <div class="filter-content">
                                </div>  <!-- list-group .// -->

                        </article> <!-- card-group-item.// -->
                            </div>
                    </div> <!-- card.// -->
                </aside>
                <main class="col-sm-6">

                    <div class="row">
                        {% include "cart_modal.html" %}
                    </div>
                </main>
            </div>
        </div> <!-- container .//  -->
    </section>
    <!-- =====
{% endblock %}