
<div class="card">
<article class="card-body">
<a href="/signup/" class="float-right btn btn-outline-primary">Регистрация</a>
<h4 class="card-title mb-4 mt-1">Вход в кабинет</h4>
	 <form method="post" action="/login/">{% csrf_token %}

{#    <div class="form-group">#}
{#    	<label>Почта или номер телефона</label>#}
{#        <input name="username" class="form-control" placeholder="Email">#}
{#    </div> <!-- form-group// -->#}
{#    <div class="form-group">#}
{#    	<a class="float-right" href="#">Забыли пароль?</a>#}
{#    	<label>Пароль</label>#}
{#        <input name="password" class="form-control" placeholder="******" type="password">#}
{#    </div> <!-- form-group// --> #}
{#    <div class="form-group"> #}
{#    <div class="checkbox">#}
{#      <label> <input type="checkbox"> Запомнить </label>#}
{#    </div> <!-- checkbox .// -->#}
{#    </div> <!-- form-group// -->  #}
{#    <div class="form-group">#}
{#        <button type="submit" class="btn btn-primary btn-block"> Войти  </button>#}
{#    </div> <!-- form-group// -->                                                           #}
</form>
</article>
</div> <!-- card.// -->
