{% for i in motherboards %}
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="../../{{ i.itemimage_set.get.image }}"></div>
            <figcaption class="info-wrap">
                <h6 class="title">{{ i.title }}</h6>
                <p class="desc">Some small description goes here
                    {{ i.itemimage_set.get }}</p>
                <div class="rating-wrap">
                    <ul class="rating-stars">
                        <li style="width:80%" class="stars-active">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i>
                        </li>
                    </ul>
                    <div class="label-rating">132 reviews</div>
                    <div class="label-rating">154 orders</div>
                </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap">
                <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>
                <div class="price-wrap h5">
                    <span class="price-new">{{ i.item_price |floatformat:0 }} грн.</span>
                    {#                                        <del class="price-old">$1980</del>#}
                </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div> <!-- col // -->
{% endfor %}