<div class="save nav justify-content-end">
    <div class="form-group col-sm-3">
        <label for="orderBy">Сортировка</label>
        <select class="form-control" id="orderBy">
            <option value="priciest">Сначала дороже</option>
            <option value="cheapest">Сначала дешевле</option>
            <option value="newest">Новинки</option>
            <option value="rating">Рейтинговые</option>
            <option value="popularity" selected="selected">Популярные</option>
        </select>
    </div>
</div>
