<div class="save nav">
    <div class="form-group p-0 mb-0 col-sm-10 mr-5">
        <label for="orderBy" class="small">Сортировка</label>
        <select class="form-control form-control-sm" id="orderBy">
            <option value="priciest">Сначала дороже</option>
            <option value="cheapest">Сначала дешевле</option>
            <option value="newest">Новинки</option>
            <option value="rating">Рейтинговые</option>
            <option value="popularity" selected="selected">Популярные</option>
        </select>
    </div>
</div>
