{% extends "some_category_page.html" %}

{% block page_title %}
    {{ self_item.title }} /
    {{ title_detail }}
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{##}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb self_item "item.views.item" category item_slug %}
{% endblock %}


{% block content %}
    <div class="container">


        <div class="card card-item mb-3 item-nav">
            <script>
                $(document).on("click", ".show-comments", function (event) {
                    event.preventDefault();
                    console.log();

                    send_with_ajax("", "/comments/show/" + $(event.target).data("href"), function (response) {

                        $(".item-content > .i-content-info").html(response);
                    }, "GET");
                });
            </script>
            <nav class="nav nav-pills nav-justified pl-1 pb-1" style="font-size: 14px;">
                <a id="unit-{{ id }}" class="nav-link my-active" href="#item_main">Все о товаре</a>
                <a id="details-{{ id }}" class="nav-link" href="#item_details">Характеристики</a>
                <a id="photo-{{ id }}" class="nav-link" href="#">Фото</a>
                <a class="nav-link show-comments" href="#" data-href="{{ item_slug }}">Отзывы</a>
                <a id="delivery-{{ id }}" class="nav-link" href="#">Доставка</a>
                <a id="delivery-{{ id }}" class="nav-link" href="#">Гарантия</a>
                <a id="delivery-{{ id }}" class="nav-link" href="#">Оплата</a>
            </nav>

        </div>
        <div class="i-content-info">
        {% include "item_content.html" %}

        </div>
    </div>
    {#        {% include "comments.html" %}#}
{% endblock %}
