{#<div class="row">#}
{% load for_human_reading static make_str %}

<script>

</script>


<main class="card">
    <div class="row no-gutters">
        <aside class="col-sm-5 border-right">
            <article class="gallery-wrap  mt-2">
                <div class="img-big-wrap">
                    <div><a href="images/items/1.jpg" data-fancybox=""><img src="{% static self_item.main_image %}"></a>
                    </div>
                </div> <!-- slider-product.// -->
                <div class="img-small-wrap">
                    {% for image in self_item.itemimage_set.all %}
                        {% with image.image|make_str as str_img_path %}
                            {% ifnotequal self_item.main_image str_img_path %}
                                <div class="item-gallery"><img src="{% static str_img_path %}"></div>
                            {% endifnotequal %}
                        {% endwith %}
                    {% endfor %}
                </div> <!-- slider-nav.// -->
            </article> <!-- gallery-wrap .end// -->
        </aside>
        <aside class="col-sm-7">
            <article class="card-body">
                <!-- short-info-wrap -->
                <h3 class="item-title title mb-3">
                    {{ self_item.title }} /
                    {{ title_detail }}
                </h3>

                <div class="mb-5 mt-5">
                        <span class="btn num btn-outline-success disabled btn-lg">{{ self_item.item_price|floatformat }} <span
                                class="currency"> грн </span></span>
                    <button href="#" id="buy-{{ item_slug }}" form="item-{{ item_slug }}"
                            class="btn btn-lg  btn-success  ml-4"> Купить
                    </button>

                    <div class="form">
                        {#                       #}
                        <form id="item-{{ item_slug }}" action="{% url "cart:cart_add_item" item_slug %}"
                              method="POST">{% csrf_token %}
                            <input type="hidden" name="quantity" min="1" value="1">
                            <input type="hidden" name="update" value="True">
                            {#                            onclick="document.forms['unit-{{ id }}'].submit()"#}
                        </form>
                    </div>
                </div> <!-- price-detail-wrap .// -->
                <hr>

                <div class="info mt-5 в-">
                    <div class="delivery h6">
                        <div class="mb-3"><b>Доставка</b> в <a href="#">Выбрать город</a></div>
                        <p>Самовывоз Новая почта - 50 грн. </p>
                        <p>Курьер Мист экспресс - 50 грн. </p>
                        <p>Курьер Новая почта (только безналичный расчет и оплата картой) - 50 грн. </p>

                    </div>
                    <hr>
                    <div class="check h6">
                        <p><b>Оплата</b> Наличными, Visa/MasterCard, Приват24, Кредит, Оплата частями, Мгновенная
                            рассрочка, Безналичными</p>

                    </div>
                    <hr>
                    <div class="check h6">
                        <p><b>Гарантия</b> 36 месяцев, обмен/возврат товара в течение 14 дней</p>
                    </div>
                    <hr>
                </div>
                <!-- short-info-wrap .// -->
            </article><!-- card-body.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
</main> <!-- card.// -->
<article class="mt-3">

    <div class="row no-gutters justify-content-between">
        <div class="card mb-3 mr-5 col-lg-5 border-0">
            <div class="card-body">
                <h4>Описание товара</h4>
                <div class="mt-3">
                    {{ self_item.description|safe }}
                </div>
            </div> <!-- card-body.// -->

        </div>
        <div class="card mb-3  col-lg-6 border-0">
            <div class="card-body">
                <script>

                    send_with_ajax("", "/comments/show/{{ item_slug }}", function (response) {
                        console.log("comments is recieved")
                        $(".main-comments").html(response);
                    }, "GET");


                </script>
                <h4>Отзывы покупателей</h4>
                <div class="ml-3 mt-3 main-comments">


                </div>
            </div> <!-- card-body.// -->
        </div>
    </div>

    <div class="card">
        <div class="card-body col-lg-6">
            <h4>Краткие характеристики</h4>
            <div class="ml-3 mt-3">
                {% for detail in common_details %}

                    <div class="row">
                        <div class="text-secondary h6 ">{{ detail.0|for_human_reading|capfirst }}: <p></p></div>

                        <div class="h6  text-left">{{ detail.1 }}</div>
                    </div>
                {% endfor %}

            </div>
        </div> <!-- card-body.// -->
    </div>
</article>
