
{% extends "admin/change_form.html" %}

{%  block after_field_sets %}
    <div class="form-row">
    {% if my_data %}
        <label > Customer filters:</label>

        <div class="form-row">
    {% for i in my_data %}

        <div class="form-check form-check-inline">
          <input class="form-check-input" name="customer_filters" type="checkbox" value="{{ i.0 }}"
                  {% if i.1 %} checked {% endif %}>
          <label class="form-check-label" >{{ i.0 }}</label>
        </div>
{% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}
