{% load static %}

{% for i in items.items %}
    <div class="col-sm-3">
        <figure class="card card-product">
        <a href="{{ i.get_absolute_url }}" class="img-wrap">
            <img src="{% static i.main_image %}">
        </a>
        <div class="mysd">
            <figcaption class="info-wrap">
                <a href="{{ i.get_absolute_url }}" class="title">{{ i.title }}</a>
                <p class="desc">Краткое описание
                   </p>
                {% if i.item_quantity == 0 %}
                <p class="badge badge-dark">Нет в наличии</p>
                {% endif %}
                <div class="rating-wrap">
                    <ul class="rating-stars">
                        <li style="width:80%" class="stars-active">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i>
                        </li>
                    </ul>
                    <div class="label-rating"> Отзывы (0)</div>
{#                    <div class="label-rating">154 orders</div>#}
                </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class=" bottom-wrap">
                <a href="" class="btn btn-sm btn-primary float-right">В корзину</a>
                <div class="price-wrap h5">
                    <span class="price-new">{{ i.item_price |floatformat:0 }} грн.</span>
                    {#                                        <del class="price-old">$1980</del>#}
                </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </div>
        </figure>
    </div> <!-- col // -->
{% endfor %}
