{% extends "main.html" %}
{% load for_human_reading static make_str %}
{% block content %}

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg padding-y">
        <div class="container">

            <div class="row">
                <aside class="col-sm-3">

                    <div class="card card-filter">
                        <article class="card-group-item">
                            <header class="card-header">
                                <a class="" aria-expanded="true" href="#" data-toggle="collapse"
                                   data-target="#collapse22">
                                    <i class="icon-action fa fa-chevron-down"></i>
                                    <h6 class="title">Комплектующие</h6>
                                </a>
                            </header>
                            <div style="" class="filter-content collapse show" id="collapse22">
                                <div class="card-body">


                                    <ul class="list-unstyled list-lg">
                                        <div class="list-group list-group-flush">
                                            {% for cat in hardware_cats %}


                                                <li><a href="/new_test/{{ cat.url_field }}/"
                                                       class="list-group-item pl-1">{{ cat.title }} <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                                </li>

                                            {% endfor %}
                                        </div>
                                    </ul>
                                </div> <!-- card-body.// -->
                            </div> <!-- collapse .// -->

                        </article> <!-- card-group-item.// -->

                    </div> <!-- card.// -->
                    <div class="card card-filter">
                        <article class="card-group-item">
                            <header class="card-header">.
                                <a class="" aria-expanded="true" href="#" data-toggle="collapse"
                                   data-target="#collapse33">
                                    <i class="icon-action fa fa-chevron-down"></i>
                                    <h6 class="title">Сетевое оборудование</h6>
                                </a>
                            </header>
                            <div style="" class="filter-content collapse show" id="collapse33">
                                <div class="card-body">


                                    <ul class="list-unstyled list-lg">
                                        <div class="list-group list-group-flush">
                                            {% for cat in network_hardware_cats %}
                                                <li><a href="#" class="list-group-item pl-1">{{ cat }} <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                                </li>

                                            {% endfor %}
                                        </div>
                                    </ul>
                                </div> <!-- card-body.// -->
                            </div> <!-- collapse .// -->

                        </article> <!-- card-group-item.// -->

                    </div> <!-- card.// -->
                    <div class="card card-filter">
                        <article class="card-group-item">
                            <header class="card-header">
                                <a class="" aria-expanded="true" href="#" data-toggle="collapse"
                                   data-target="#collapse44">
                                    <i class="icon-action fa fa-chevron-down"></i>
                                    <h6 class="title">Переферийные устройства</h6>
                                </a>
                            </header>
                            <div style="" class="filter-content collapse show" id="collapse44">
                                <div class="card-body">


                                    <ul class="list-unstyled list-lg">
                                        <div class="list-group list-group-flush">
                                            {% for cat in peripheral_hardware_cats %}
                                                <li><a href="#" class="list-group-item pl-1">{{ cat }} </a>
                                                </li>

                                            {% endfor %}
                                        </div>
                                    </ul>
                                </div> <!-- card-body.// -->
                            </div> <!-- collapse .// -->

                        </article> <!-- card-group-item.// -->

                    </div> <!-- card.// -->

                </aside> <!-- col.// -->
                <main class="col-sm-9">

                    <div class="row row-eq-height">
                        {% for cat,uniques in result.items %}
                            {% if forloop.counter|divisibleby:5  %}

                                </div> <!-- row.// -->
                                 <div class="row row-eq-height">
                            {% else %}

                                <div class="col-md-3 mb-4">
                                    <figure class="card h-100  card-product">
                                        {#                                <span class="badge-new"> NEW </span>#}
                                        <div class="img-wrap pl-2 pr-2 center"><a href="/new_test/{{ links_for_cat.processors }}"><img src="{% static cat.cats_image|make_str %}"></a></div>
                                        <div class="list-group  list-group-flush">
                                            <figcaption class=" info-wrap text-left">
                                                <h6 class="title text-break">

                                                    <a href="/new_test/{{ links_for_cat.processors }}"
                                                       class="list-group-item border-0 pt-0 pb-0 pl-0">

                                                        {{ cat.title }}</a></h6>
                                            </figcaption>
                                            <ul class="list-unstyled list-lg">


                                                <div class=" ml-3">

                                                    <li>

                                                        {% for i in  uniques %}
                                                            {% if i %}
                                                                {% with cat.title|lower|for_human_reading:"categories" as ssss %}
                                                                    <form action="{{ ssss }}/" id method="post">
                                                                        {% csrf_token %}
                                                                        <input name="from_main" value="true" hidden>
                                                                        <input name="manufacturer" checked hidden
                                                                               type="checkbox" value="{{ i }}">
                                                                        <button type="submit"
                                                                                class="btn btn-link border-0 b-inline text-left container-fluid pt-0 pb-0">
                                                                            <i class="icon-action pr-0 fa fa-chevron-right"></i>{{ i }}
                                                                        </button>

                                                                    </form>
                                                                {% endwith %}
                                                            {% endif %}
                                                        {% endfor %}

                                                    </li>
                                                    {#                                                {% endfor %}#}

                                                </div>

                                            </ul>
                                        </div>
                                    </figure> <!-- card // -->


                                </div> <!-- col // -->
                            {% endif %}
                        {% endfor %}


                </main> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}