{% extends "main.html" %}
{% block content %}

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg padding-y">
        <div class="container">

            <div class="row">
                <aside class="col-sm-3">

                    <div class="card card-filter">
                        <article class="card-group-item">
                            <header class="card-header">
                                <a class="" aria-expanded="true" href="#" data-toggle="collapse"
                                   data-target="#collapse22">
                                    <i class="icon-action fa fa-chevron-down"></i>
                                    <h6 class="title">Комплектующие</h6>
                                </a>
                            </header>
                            <div style="" class="filter-content collapse show" id="collapse22">
                                <div class="card-body">


                                    <ul class="list-unstyled list-lg">
                                        <div class="list-group list-group-flush">
                                            {% for cat in hardware_cats %}


                                                <li><a href="/new_test/{{ cat.url_field }}/" class="list-group-item pl-1">{{ cat }} <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                                </li>

                                            {% endfor %}
                                        </div>
                                    </ul>
                                </div> <!-- card-body.// -->
                            </div> <!-- collapse .// -->

                        </article> <!-- card-group-item.// -->

                    </div> <!-- card.// -->
                    <div class="card card-filter">
                        <article class="card-group-item">
                            <header class="card-header">.
                                <a class="" aria-expanded="true" href="#" data-toggle="collapse"
                                   data-target="#collapse33">
                                    <i class="icon-action fa fa-chevron-down"></i>
                                    <h6 class="title">Сетевое оборудование</h6>
                                </a>
                            </header>
                            <div style="" class="filter-content collapse show" id="collapse33">
                                <div class="card-body">


                                    <ul class="list-unstyled list-lg">
                                        <div class="list-group list-group-flush">
                                                {% for cat in network_hardware_cats %}
                                                        <li><a href="#" class="list-group-item pl-1">{{ cat }} <span
                                                                class="float-right badge badge-light round">{{ " " }}</span></a>
                                                        </li>

                                                    {#					<li><a href="#">{{ cat }} <span class="float-right badge badge-light round">({{ 0 }})</span> </a></li>#}
                                                    {#					<li><a href="#">Dapibus ac facilisis  <span class="float-right badge badge-light round">3</span>  </a></li>#}
                                                    {#					<li><a href="#">Morbi leo risus <span class="float-right badge badge-light round">32</span>  </a></li>#}
                                                    {#					<li><a href="#">Another item <span class="float-right badge badge-light round">12</span>  </a></li>#}

                                                {% endfor %}
                                        </div>
                                    </ul>
                                </div> <!-- card-body.// -->
                            </div> <!-- collapse .// -->

                        </article> <!-- card-group-item.// -->

                    </div> <!-- card.// -->
                    <div class="card card-filter">
                        <article class="card-group-item">
                            <header class="card-header">
                                <a class="" aria-expanded="true" href="#" data-toggle="collapse"
                                   data-target="#collapse44">
                                    <i class="icon-action fa fa-chevron-down"></i>
                                    <h6 class="title">Переферийные устройства</h6>
                                </a>
                            </header>
                            <div style="" class="filter-content collapse show" id="collapse44">
                                <div class="card-body">


                                    <ul class="list-unstyled list-lg">
                                       <div class="list-group list-group-flush">
                                            {% for cat in peripheral_hardware_cats %}
                                                    <li><a href="#" class="list-group-item pl-1">{{ cat }} <span
                                                            class="float-right badge badge-light round">{{ " " }}</span></a>
                                                    </li>

                                                {#					<li><a href="#">{{ cat }} <span class="float-right badge badge-light round">({{ 0 }})</span> </a></li>#}
                                                {#					<li><a href="#">Dapibus ac facilisis  <span class="float-right badge badge-light round">3</span>  </a></li>#}
                                                {#					<li><a href="#">Morbi leo risus <span class="float-right badge badge-light round">32</span>  </a></li>#}
                                                {#					<li><a href="#">Another item <span class="float-right badge badge-light round">12</span>  </a></li>#}

                                            {% endfor %}
                                        </div>
                                    </ul>
                                </div> <!-- card-body.// -->
                            </div> <!-- collapse .// -->

                        </article> <!-- card-group-item.// -->

                    </div> <!-- card.// -->

                </aside> <!-- col.// -->
                <main class="col-sm-9">


                    <div class="row">
                        <div class="col-md-3">
                            <figure class="card card-sm card-product">
                                {#                                <span class="badge-new"> NEW </span>#}
                                <div class="img-wrap"><img src="images/items/3.jpg"></div>
                                 <div class="list-group list-group-flush">
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-truncate"><a href="/new_test/{{ links_for_cat.processors }}"  class="list-group-item pt-0 pb-0 pl-0">Процессоры</a></h6>
                                </figcaption>
                                <ul class="list-unstyled list-lg">

                                        <div class=" ml-3">

                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i>AMD
                                                <span
                                                        class="float-right  badge badge-light round">{{ " " }}</span></a>
                                            </li>


                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> INTEL
                                                <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                            </li>
                                        </div>



                                </ul>
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-truncate"><a href="">Все процессоры</a></h6>
                                </figcaption>
                                       </div>
                            </figure> <!-- card // -->


                        </div> <!-- col // -->
                        <div class="col-md-3">
                            <figure class="card card-sm card-product">
                                                           {#                                <span class="badge-new"> NEW </span>#}
                                <div class="img-wrap"><img src="images/items/3.jpg"></div>
                                 <div class="list-group list-group-flush">
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-truncate"><a href="/new_test/{{ links_for_cat.motheboard }}"  class="list-group-item pt-0 pb-0 pl-0">Материнские платы</a></h6>
                                </figcaption>
                                <ul class="list-unstyled list-lg pt-0">

                                        <div class=" ml-3">

                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i>Совместимые с AMD
                                                <span
                                                        class="float-right  badge badge-light round">{{ " " }}</span></a>
                                            </li>


                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> Совместимые с INTEL
                                                <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                            </li>
                                        </div>



                                </ul>
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-break"><a href="">Все материнские платы</a></h6>
                                </figcaption>
                                       </div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                        <div class="col-md-3">
                            <figure class="card card-sm card-product">
                                      {#                                <span class="badge-new"> NEW </span>#}
                                <div class="img-wrap"><img src="images/items/3.jpg"></div>
                                 <div class="list-group list-group-flush">
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-truncate"><a href="#"  class="list-group-item pt-0 pb-0 pl-0">Видеокарты</a></h6>
                                </figcaption>
                                <ul class="list-unstyled list-lg pt-0">

                                        <div class=" ml-3">

                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> AMD/ATI Radeon
                                                <span
                                                        class="float-right  badge badge-light round">{{ " " }}</span></a>
                                            </li>


                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> nVidia GeForce
                                                <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                            </li>
                                        </div>



                                </ul>
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-break"><a href="#">Все видеокарты</a></h6>
                                </figcaption>
                                       </div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                                                <div class="col-md-3">
                            <figure class="card card-sm card-product">
                                      {#                                <span class="badge-new"> NEW </span>#}
                                <div class="img-wrap"><img src="images/items/3.jpg"></div>
                                 <div class="list-group list-group-flush">
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-truncate"><a href="#"  class="list-group-item pt-0 pb-0 pl-0">Оперативная память</a></h6>
                                </figcaption>
                                <ul class="list-unstyled list-lg pt-0">

                                        <div class=" ml-3">

                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> Для настольных ПК
                                                <span
                                                        class="float-right  badge badge-light round">{{ " " }}</span></a>
                                            </li>


                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> Для ноутубков
                                                <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                            </li>

                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> Для серверов
                                                <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                            </li>
                                        </div>



                                </ul>
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-break"><a href="#">Вся память</a></h6>
                                </figcaption>
                                       </div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                    </div> <!-- row.// -->





                    <div class="row">
                        <div class="col-md-3">
                            <figure class="card card-sm card-product">
                                {#                                <span class="badge-new"> NEW </span>#}
                                <div class="img-wrap"><img src="images/items/3.jpg"></div>
                                 <div class="list-group list-group-flush">
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-truncate"><a href="#"  class="list-group-item pt-0 pb-0 pl-0">Жесткие диски</a></h6>
                                </figcaption>
                                <ul class="list-unstyled list-lg">

                                        <div class=" ml-3">

                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i>Для настольных ПК
                                                <span
                                                        class="float-right  badge badge-light round">{{ " " }}</span></a>
                                            </li>


                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> Для ноутбуков
                                                <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                            </li>


                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> Внешние жесткие диски
                                                <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                            </li>

                                        </div>



                                </ul>
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-truncate"><a href="/new_test/processor/">Все процессоры</a></h6>
                                </figcaption>
                                       </div>
                            </figure> <!-- card // -->


                        </div> <!-- col // -->
                        <div class="col-md-3">
                            <figure class="card card-sm card-product">
                                                           {#                                <span class="badge-new"> NEW </span>#}
                                <div class="img-wrap"><img src="images/items/3.jpg"></div>
                                 <div class="list-group list-group-flush">
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-truncate"><a href="#"  class="list-group-item pt-0 pb-0 pl-0">Материнские платы</a></h6>
                                </figcaption>
                                <ul class="list-unstyled list-lg pt-0">

                                        <div class=" ml-3">

                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i>Совместимые с AMD
                                                <span
                                                        class="float-right  badge badge-light round">{{ " " }}</span></a>
                                            </li>


                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> Совместимые с INTEL
                                                <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                            </li>
                                        </div>



                                </ul>
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-break"><a href="#">Все материнские платы</a></h6>
                                </figcaption>
                                       </div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                        <div class="col-md-3">
                            <figure class="card card-sm card-product">
                                      {#                                <span class="badge-new"> NEW </span>#}
                                <div class="img-wrap"><img src="images/items/3.jpg"></div>
                                 <div class="list-group list-group-flush">
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-truncate"><a href="#"  class="list-group-item pt-0 pb-0 pl-0">Видеокарты</a></h6>
                                </figcaption>
                                <ul class="list-unstyled list-lg pt-0">

                                        <div class=" ml-3">

                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> AMD/ATI Radeon
                                                <span
                                                        class="float-right  badge badge-light round">{{ " " }}</span></a>
                                            </li>


                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> nVidia GeForce
                                                <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                            </li>
                                        </div>



                                </ul>
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-break"><a href="#">Все видеокарты</a></h6>
                                </figcaption>
                                       </div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                                                <div class="col-md-3">
                            <figure class="card card-sm card-product">
                                      {#                                <span class="badge-new"> NEW </span>#}
                                <div class="img-wrap"><img src="images/items/3.jpg"></div>
                                 <div class="list-group list-group-flush">
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-truncate"><a href="#"  class="list-group-item pt-0 pb-0 pl-0">Оперативная память</a></h6>
                                </figcaption>
                                <ul class="list-unstyled list-lg pt-0">

                                        <div class=" ml-3">

                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> Для настольных ПК
                                                <span
                                                        class="float-right  badge badge-light round">{{ " " }}</span></a>
                                            </li>


                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> Для ноутубков
                                                <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                            </li>

                                            <li><a href="#" class="list-group-item pt-0 pb-0"><i class="icon-action pr-0 fa fa-chevron-right"></i> Для серверов
                                                <span
                                                        class="float-right badge badge-light round">{{ " " }}</span></a>
                                            </li>
                                        </div>



                                </ul>
                                <figcaption class="info-wrap text-left">
                                    <h6 class="title text-break"><a href="#">Вся память</a></h6>
                                </figcaption>
                                       </div>
                            </figure> <!-- card // -->
                        </div> <!-- col // -->
                    </div> <!-- row.// -->


                </main> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}